<a href="https://colab.research.google.com/github/Taofeekat/Assessment-project/blob/main/Hamoye_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = pd.read_csv("/FoodBalanceSheets_E_Africa_NOFLAG (1).csv", encoding="latin-1")

data

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [ ]:
#
selected_column = data[['Y2017', 'Area']]

column_group = selected_column.groupby('Area')['Y2017'].sum()

result = column_group.sort_values(ascending = False).head(1)

print(result)

Area
Nigeria    1483268.23
Name: Y2017, dtype: float64

In [ ]:
selected_columns = data[['Y2017', 'Area']]

# Group by 'Area' and calculate the sum for 'Y2017'
grouped_data = selected_columns.groupby('Area')['Y2017'].sum().reset_index()

# Find the Area with the highest sum in 2017
highest_sum_area = grouped_data[grouped_data['Y2017'] == grouped_data['Y2017'].max()]

print(highest_sum_area)

       Area       Y2017
34  Nigeria  1483268.23

In [ ]:
unique_country = data['Area'].nunique()

print(unique_country)

49

In [ ]:
# Create a list of year columns
year_columns = [col for col in data.columns if col.startswith('Y')]

# Calculate the correlation between 'Element Code' and each year column
correlations = {}
for year_column in year_columns:
    correlation = data['Element Code'].corr(data[year_column])
    correlations[year_column] = correlation

# Find the year with the least correlation
least_correlation_year = min(correlations, key=correlations.get)

print("Year with the least correlation:", least_correlation_year)

Year with the least correlation: Y2016

In [ ]:
#Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

selected_column = data[['Y2017', 'Area']].groupby('Area')['Y2017'].sum()

sorted_data = selected_column.sort_values(ascending=True)

Area_find= sorted_data.head(7)

print(Area_find)

Area
Sudan (former)               0.00
Ethiopia PDR                 0.00
Comoros                     59.84
Seychelles                 442.34
Sao Tome and Principe    12662.63
Cabo Verde               14650.74
Guinea-Bissau            19102.77
Name: Y2017, dtype: float64

In [ ]:
# Filter the data for Madagascar, 'Protein supply quantity', and the year 2015
madagascar_protein_2015 = data[(data['Area'] == 'Madagascar') & (data['Element'] == 'Protein supply quantity')]           b

# Calculate the total protein supply quantity in Madagascar in 2015
total_protein_supply_2015 = madagascar_protein_2015['Y2015'].sum()

print("Total Protein Supply Quantity in Madagascar in 2015:", total_protein_supply_2015)

Total Protein Supply Quantity in Madagascar in 2015: 0.0

In [ ]:
missing_values_2014 = data['Y2014'].isnull().sum()

# Step 2: Calculate the total number of data points in the 'Y2014' column
total_data_points_2014 = len(data['Y2014'])

# Step 3: Calculate the percentage of missing data in 2014
percentage_missing_2014 = (missing_values_2014 / total_data_points_2014) * 100

# Round the percentage to 3 decimal places
percentage_missing_2014 = round(percentage_missing_2014, 3)

print("Total number of missing data in 2014:", missing_values_2014)
print("Percentage of missing data in 2014:", percentage_missing_2014, "%")

Total number of missing data in 2014: 1589
Percentage of missing data in 2014: 2.607 %

In [ ]:
y2017_data = data['Y2017']

# Calculate the mean and standard deviation for the 'Y2017' column
mean_2017 = y2017_data.mean()
std_deviation_2017 = y2017_data.std()

# Round the results to 2 decimal places
mean_2017 = round(mean_2017, 2)
std_deviation_2017 = round(std_deviation_2017, 2)

print("Mean for the year 2017:", mean_2017)
print("Standard Deviation for the year 2017:", std_deviation_2017)

Mean for the year 2017: 140.92
Standard Deviation for the year 2017: 1671.86

In [ ]:
wine_data = data[data['Item'] == 'Wine']

# Calculate the total sum of Wine produced in 2015 and 2018
total_wine_2015 = wine_data['Y2015'].sum()
total_wine_2018 = wine_data['Y2018'].sum()

print("Total Wine produced in 2015:", total_wine_2015)
print("Total Wine produced in 2018:", total_wine_2018)

Total Wine produced in 2015: 4251.8099999999995
Total Wine produced in 2018: 4039.3199999999997

In [ ]:
processing_2017_data = data[data['Element'] == 'Processing']['Y2017']

# Calculate the total sum of 'Processing' in 2017
total_processing_2017 = processing_2017_data.sum()

print("Total sum of Processing in 2017:", total_processing_2017)

Total sum of Processing in 2017: 292836.0

In [ ]:
madagascar_protein_2015 = data[(data['Area'] == 'Madagascar') & (data['Element'] == 'Protein supply quantity') & (data['Y2015'] > 0)]

# Calculate the total protein supply quantity in Madagascar in 2015
total_protein_supply_2015 = madagascar_protein_2015['Y2015'].sum()

print("Total Protein Supply Quantity in Madagascar in 2015:", total_protein_supply_2015)

Total Protein Supply Quantity in Madagascar in 2015: 0.0